/* ======================================== 
* 
* Here is my all responsive css styles 
* 
========================================== */

/* Mobile Design */

@media (max-width: 667px) {
  /* Header Section */
  .header-container {
    width: 90%;
  }
  .nav--links {
    display: none;
  }
  .main-menu {
    padding: 20px 0;
  }
  .toggle-bar {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 34px;
    margin: 20px 0 -10px;
  }
  /* Hero Section */
  .hero-container {
    width: 90%;
  }
  .hero--area {
    flex-direction: column;
    padding: 40px 0 60px;
  }
  .hero--content {
    padding-right: 30px;
  }
  .hero--content h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .hero--banner img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  /* Players Section */
  .players-container {
    width: 90%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 47px;
  }
  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 15px; */
  }
  /* HighLights Section */
  .highlight--area {
    margin: 60px 0;
  }
  .highlight-container {
    width: 90%;
  }
  .highlight__content {
    padding: 0;
  }
  .highlight__content h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .highlight--area {
    flex-direction: column;
  }
  .thumbnail img {
    width: 328px;
    height: 248px;
    margin-top: 36px;
  }

  /* Shop Section */
  .container {
    width: 90%;
  }

  .shop-area .heading {
    font-size: 32px;
    line-height: 40px;
  }
  .products {
    flex-direction: column;
  }
  .products .heading {
    font-size: 32px;
  }
  .products .product img {
    width: 300px;
  }
  /* Sponsor Section */
  .s-logo {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .s-area {
    padding-left: 0;
  }
  /* Footer Section */
  .footer-section .logo img {
    width: 90%;
  }
}
/*==================================
        Tablet Design
==================================== */

@media only screen and (min-width: 667px) and (max-width: 1060px) {
  /* Header Section */
  .header-container {
    width: 90%;
  }
  .nav--links {
    display: none;
  }

  .main-menu {
    padding: 20px 0;
  }
  .toggle-bar {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 34px;
    margin: 20px 0 -10px;
  }
  /* Hero Section */
  .hero-container {
    width: 90%;
  }
  .hero--area {
    flex-direction: column;
    align-content: center;
    align-items: flex-end;

    padding: 40px 0 60px;
  }

  .hero--banner img {
    margin-top: 50px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* HighLights Section */

  .highlight-container {
    width: 90%;
  }

  .highlight--area {
    flex-direction: column;
    text-align: center;
  }

  .thumbnail img {
    width: 90%;
    height: 100%;
    margin-top: 36px;
  }
  /* Shop Section */
  .container {
    width: 90%;
  }
  .products {
    flex-direction: column;
  }
  /* Sponsor Section */
  .s-logo {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-left: 0px;
  }
}
